body {
  background: #fff;
  color: #000;
  font-family: "Times New Roman", serif;
}

.nav,
#cursor,
#particle-canvas,
.hero__scan,
.hero__grid,
.hero__panels,
.hero__3d {
  display: none !important;
}

.section {
  padding: 40px 20px;
}
